<%-include('../partials/admin_header')%>
<style>
  .validation-message {
  color: red;
}

</style>
<style>
  /* Message Modal styles */
  .message-modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.274);
  }

  .message-modal-content {
    background-color: #ffffff;
    margin: 6% auto;
    padding: 20px;
    border: 10px solid #888888cb;
    border-radius: 250px;
    width: 30%;
  }
  @keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blink {
  animation: blink 1s infinite;
}
</style>
<!-- alert modal -->
<style>
  .alert-modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.63);
  }
  
  .alert-modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 20px solid #c4c4c4d2;
      border-radius:80px;
      width: 40%;
  }
  
  .alert-modal-buttons {
      text-align: center;
      margin-top: 20px;
  }
</style>
<!-- topbar -->
<div class="container-fluid" style="background-color: rgb(255, 255, 255); height: 100px;">
  <div class="row mt-1">
      <h3 class="content-title card-title mt-3" style="color: #00000098; text-align: center;">ADD COUPON</h3>
      <p style="color: rgba(0, 0, 0, 0.493); text-align: center;">( ADD / EDIT / DELETE COUPON)</p>
      <hr>
  </div>
</div>
  <!-- /topbar -->
  <% if (message != null) { %>
    <div id="messageAlertModal" class="message-modal">
        <div class="message-modal-content ">
        <h6 id="activeAlertMessage" class="text-center blink" style="color: rgb(253, 69, 69);text-transform: uppercase;"><p><%= message %></p></h6>
        </div>
    </div>
<% } %>
<section class="content-main">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <form action="/admin/add_new_coupon" method="post">
            <div class="mb-1">
              <label class="form-label">Coupon Name</label>
              <input
                type="text"
                placeholder="Name"
                id="name"
                class="form-control"
                name="Name"
                required
              />
              <small id="nameValidationMessage" class="validation-message"></small>
            </div>
          
            <div class="mb-1">
              <label class="form-label">Description</label>
              <textarea
                placeholder="Description"
                id="description"
                name="Description"
                class="form-control"
                required
              ></textarea>
              <small id="descriptionValidationMessage" class="validation-message"></small>
            </div>
          
            <div class="mb-1">
              <label class="form-label">Expiry Date</label>
              <input 
                type="date" 
                name="date" 
                id="date"
                class="form-control"
                placeholder="Expiry date"
                required
              />
              <small id="dateValidationMessage" class="validation-message"></small>
            </div>
          
            <div class="mb-1">
              <label class="form-label">Minimum purchase amount</label>
              <input 
                type="number" 
                name="amount" 
                id="amount"
                class="form-control"
                placeholder="Minimum purchase amount"
                required
              />
              <small id="amountValidationMessage" class="validation-message"></small>
            </div>
          
            <div class="mb-1">
              <label class="form-label">Discount in percentage</label>
              <input 
                type="number" 
                name="discount" 
                id="discount"
                class="form-control"
                placeholder="0/100 %"
                required
              />
              <small id="discountValidationMessage" class="validation-message"></small>
            </div>
          
            <div class="d-grid mt-2">
              <button style="background-color: rgba(253, 253, 253, 0.712);" class="btn btn-primary" id="btn" type="submit">
                CREATE COUPON
              </button>
            </div>
          </form>
          
        </div>
        <div class="col-md-9">
          <div class="table-responsive">
            <table class="table table-hover display mt-4">
              <thead>
                <tr>
                    <div class="form-check">     
                  <th scope="col">No</th>
                  <th scope="col">Coupon name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Expiry date</th>
                  <th scope="col">Minimum purchase</th>
                  <th scope="col">Discount</th>
                  <th scope="col" class="text-center" colspan="2">Actions</th>
                    </div>
                </tr>
                <tbody>
                    <% coupon.forEach(function(item,index){ %>
                        <tr>
                          <td><%= index+1  %></td>    
                          <td><%= item.name %></td>
                          <td><%= item.description %></td>
                          <td><%= item.expiry.toLocaleDateString() %></td>
                          <td>Rs.<%= item.amount %></td>
                          <td><%= item.discount %>%</td>
                          <td>
                            <div class="text-center">
                              <a href="/admin/edit_coupon/<%= item._id%>"style="background-color: rgba(253, 253, 253, 0.712);" class="btn btn-xs btn-success "><p style="color: green;">Edit</p></a>   
                              <button style="background-color: rgba(253, 253, 253, 0.712);" class="btn btn-xs btn-danger" onclick="deleteAlertModal('<%= item._id%>')"><p style="color: red;">Delete</p></button>
                            </div>
                          </td>
                        </tr>
                        <% })%>
                </tbody>
              </thead>
            </table>
          </div>
        </div>
        <!-- .col// -->
      </div>
      <!-- .row // -->
    </div>
    <!-- card body .// -->
  </div>
  <!-- card .// -->
    <!--  Delete Alert Modal -->
<div id="deleteAlertModal" class="alert-modal">
  <!-- Modal content -->
  <div class="alert-modal-content">
      <h3 class="text-center" style="color: red;">Warning!</h3>
      <h4 class="text-center" style="color: #7c7c7c;">Are you sure you want to proceed?</h4>

      <!-- Buttons -->
      <div class="alert-modal-buttons">
          <button class="btn" onclick="submitAlert()"><img src="/admin_assets/assets/imgs/buttons/check.png" alt="submit"></button>
          <button class="btn" onclick="closeAlertModal()"><img src="/admin_assets/assets/imgs/buttons/delete.png" alt="cancel"></button>
      </div>
  </div>
</div>
</section>

<script>
  function hide(id) {
    setTimeout(() => {
      document.getElementById(id).style.display = "none";
    }, 1300);
  }

  hide("alert");
</script>
<script>
  const alertModal = document.getElementById('deleteAlertModal');
  let addressId;
  function deleteAlertModal(id) {
    addressId = id;
    alertModal.style.display = 'block';
  }
  function closeAlertModal() {
      alertModal.style.display = 'none';
  }
  function submitAlert() {
      closeAlertModal();
      $.ajax({
    url: '/admin/delete_coupon/'+addressId,
    type: 'GET',
    success: function(response) {
        location.reload(); 
    }
  });
  }
</script>
<script>
  // Check if the message exists
  var message = "<%= message %>";
  if (message != null) {
    setTimeout(function() {
      // Hide the modal by changing the display style
      document.getElementById("messageAlertModal").style.display = "none";
    }, 2100);
  }
</script>
<script>
  document.getElementById("btn").addEventListener("click", function(event) {
  var nameInput = document.getElementById("name").value.trim();
  var descriptionInput = document.getElementById("description").value.trim();
  var dateInput = document.getElementById("date").value;
  var amountInput = document.getElementById("amount").value.trim();
  var discountInput = document.getElementById("discount").value.trim();
  var nameValidationMessage = document.getElementById("nameValidationMessage");
  var descriptionValidationMessage = document.getElementById("descriptionValidationMessage");
  var dateValidationMessage = document.getElementById("dateValidationMessage");
  var amountValidationMessage = document.getElementById("amountValidationMessage");
  var discountValidationMessage = document.getElementById("discountValidationMessage");
  var isValid = true;

  if (nameInput.length === 0) {
    nameValidationMessage.textContent = "Name is required.";
    isValid = false;
  } else {
    nameValidationMessage.textContent = "";
  }

  if (descriptionInput.length === 0) {
    descriptionValidationMessage.textContent = "Description is required.";
    isValid = false;
  } else {
    descriptionValidationMessage.textContent = "";
  }

  if (dateInput === "") {
    dateValidationMessage.textContent = "Expiry date is required.";
    isValid = false;
  } else {
    dateValidationMessage.textContent = "";
  }

  if (amountInput === "") {
    amountValidationMessage.textContent = "Minimum purchase amount is required.";
    isValid = false;
  } else {
    amountValidationMessage.textContent = "";
  }

  if (discountInput === "") {
    discountValidationMessage.textContent = "Discount is required.";
    isValid = false;
  } else if (discountInput > 100) {
    discountValidationMessage.textContent = "Discount cannot be greater than 100.";
    isValid = false;
  } else {
    discountValidationMessage.textContent = "";
  }

  if (!isValid) {
    event.preventDefault(); // Prevent form submission if validation fails
  }
});

</script>
<%-include('../partials/admin_footer')%>
