<%-include('../partials/admin_header')%>
<style>
  /* Message Modal styles */
  .message-modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.274);
  }

  .message-modal-content {
    background-color: #ffffff;
    margin: 6% auto;
    padding: 20px;
    border: 10px solid #888888cb;
    border-radius: 250px;
    width: 30%;
  }
  @keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blink {
  animation: blink 1s infinite;
}
</style>



  <!-- topbar -->
<div class="container-fluid" style="background-color: rgb(255, 255, 255); height: 100px;">
  <div class="row mt-1">
      <h3 class="content-title card-title mt-3" style="color: #00000098; text-align: center;">MANAGE USERS</h3>
      <p style="color: rgba(0, 0, 0, 0.493); text-align: center;">( BLOCK UNBLOCK AND REMOVE USER )</p>
      <hr>
  </div>
</div>
  <!-- /topbar -->
  <% if (message != null) { %>
    <div id="messageAlertModal" class="message-modal">
        <div class="message-modal-content ">
        <h6 id="activeAlertMessage" class="text-center blink" style="color: rgb(253, 69, 69);text-transform: uppercase;"><p><%= message %></p></h6>
        </div>
    </div>
<% } %>
<section>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover display mt-4">
        <thead>
          <tr>
              <div class="form-check">     
            <th scope="col">No</th>
            <th scope="col">User Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
            <th scope="col" class="text-center" colspan="2">Actions</th>
              </div>
          </tr>
          <tbody>
            <% mails?.forEach(function(data,index){ %>
            <tr>
                <td><%= index+1  %></td>
                <td><%= data.userid %></td>    
                <td><%= data.name %></td>
                <td><%= data.email %></td>
                <td><%= data.subject %></td>
                <td><%= data.message %></td>
                <td>
                <div class="text-center">
                    <a href="https://mail.google.com/" style="background-color: rgba(253, 253, 253, 0.712);" class="btn btn-xs btn-success"><p style="color: green;">Respond</p></a>   
                    <a href="/admin/delete_mail/<%= data._id%>" style="background-color: rgba(253, 253, 253, 0.712);" class="btn btn-xs btn-danger"><p style="color: red;">Delete</p></a>
                </div>
                </td>
            </tr>
            <% })%>
          </tbody>
        </thead>
      </table>
    </div>
  </div>
  <hr>

</section>

<script>
  // Check if the message exists
  var message = "<%= message %>";
  if (message != null) {
    setTimeout(function() {
      // Hide the modal by changing the display style
      document.getElementById("messageAlertModal").style.display = "none";
    }, 2100);
  }
</script>
<%-include('../partials/admin_footer')%>
