<%-include('../partials/admin_header')%>
<!-- sweet alert -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.0/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.0/dist/sweetalert2.all.min.js"></script>
<!-- / sweet alert -->

<style>
  .pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .pagination li {
    margin: 0;
  }
  
  .pagination li a {
    font-size: 12px; /* Adjust the font size as needed */
    padding: 5px 10px;
    color: white; /* Set default color to white */
  }
  
  .pagination li.active a {
    font-weight: bold;
    background-color: #f0f0f0; /* Set selected background color to lighter gray */
    color: #b9b6b6; /* Set selected text color to darker gray */
  }
  
  .pagination li:not(.active) a:hover {
    background-color: #CCCCCC; /* Set hover background color to lighter gray */
    color: #a5a3a3; /* Set hover text color to darker gray */
  }
  
  </style>
  <!-- topbar -->
<div class="container-fluid" style="background-color: rgb(255, 255, 255); height: 100px;">
  <div class="row mt-1">
      <h3 class="content-title card-title mt-3" style="color: #00000098; text-align: center;">MANAGE USERS</h3>
      <p style="color: rgba(0, 0, 0, 0.493); text-align: center;">( BLOCK UNBLOCK AND REMOVE USER )</p>
      <hr>
  </div>
</div>
  <!-- /topbar -->
<section>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover display mt-4">
        <thead>
          <tr>
              <div class="form-check">     
            <th scope="col">No</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col" class="text-center" colspan="2">Actions</th>
              </div>
          </tr>
          <tbody>
            <% viewUsers.forEach(function(viewUsers,index){ %>
              <tr>
                <td><%= index+1  %></td>    
                <td><%= viewUsers.name %></td>
                <td><%= viewUsers.email %></td>
                <td>
                <% if (viewUsers.block == true) { %>
                  <p style="color: red;">Inactive</p> 
                <% }else { %>
                  <p style="color: green;">Active</p> 
                <% }  %>
                </td>
                <td>
                  <div class="text-center">
                    <% if (viewUsers.block == true) { %>
                    <a href="/admin/unblock_user/<%= viewUsers._id%>" style="background-color: rgba(253, 253, 253, 0.712);" class="btn btn-xs btn-success " onclick="return unblockAlert(event)"><p style="color: green;">Unblock</p></a>   
                      <% }else { %>
                    <a href="/admin/block_user/<%= viewUsers._id%>" style="background-color: rgba(253, 253, 253, 0.712);" class="btn btn-xs btn-success " onclick="return blockAlert(event)"><p style="color: orangered;"> Block</p></a>   
                      <% }  %>
                    <a href="/admin/delete_user/<%= viewUsers._id%>" style="background-color: rgba(253, 253, 253, 0.712);" class="btn btn-xs btn-danger" onclick="return deleteAlert(event)"><p style="color: red;">Remove</p></a>
                  </div>
                </td>
              </tr>
              <% })%>
          </tbody>
        </thead>
      </table>
    </div>
  </div>
  <hr>
  <div class="pagination-container mt-2 mb-2">
    <ul class="pagination">
      <% if (currentPage > 1) { %>
        <li class="page-item">
          <a class="page-link" href="?page=<%= currentPage - 1 %>">&laquo; Previous</a>
        </li>
      <% } %>
    
      <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <% if (currentPage === i) { %> active <% } %>">
          <a class="page-link" href="?page=<%= i %>"><%= i %></a>
        </li>
      <% } %>
    
      <% if (currentPage < totalPages) { %>
        <li class="page-item">
          <a class="page-link" href="?page=<%= currentPage + 1 %>">Next &raquo;</a>
        </li>
      <% } %>
    </ul>
  </div>
</section>

<script>
  function blockAlert(event) {
    event.preventDefault();
    Swal.fire({
      title: 'Confirmation',
      text: 'Are you sure you want to block this user?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, block',
      cancelButtonText: 'Cancel'
    }).then((result) => {
      if (result.isConfirmed) {
        // Perform block action here
        window.location.href = event.target.href; // Redirect to the block URL
      }
    });
  }

  function unblockAlert(event) {
    event.preventDefault();
    Swal.fire({
      title: 'Confirmation',
      text: 'Are you sure you want to unblock this user?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, unblock',
      cancelButtonText: 'Cancel'
    }).then((result) => {
      if (result.isConfirmed) {
        // Perform unblock action here
        window.location.href = event.target.href; // Redirect to the unblock URL
      }
    });
  }

  function deleteAlert(event) {
    event.preventDefault();
    Swal.fire({
      title: 'Confirmation',
      text: 'Are you sure you want to delete this user?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete',
      cancelButtonText: 'Cancel'
    }).then((result) => {
      if (result.isConfirmed) {
        // Perform delete action here
        window.location.href = event.target.href; // Redirect to the delete URL
      }
    });
  }
</script>


<%-include('../partials/admin_footer')%>