<%-include('../partials/admin_header')%>
<style>
  /* Message Modal styles */
  .message-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.274);
  }

  .message-modal-content {
    background-color: #ffffff;
    margin: 6% auto;
    padding: 20px;
    border: 10px solid #888888cb;
    border-radius: 250px;
    width: 30%;
  }
  @keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blink {
  animation: blink 1s infinite;
}
</style>
<!-- alert modal -->
<style>
  .alert-modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.63);
  }
  
  .alert-modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 20px solid #c4c4c4d2;
      border-radius:80px;
      width: 40%;
  }
  
  .alert-modal-buttons {
      text-align: center;
      margin-top: 20px;
  }
</style>

<style>
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.pagination li {
  margin: 0;
}

.pagination li a {
  font-size: 12px; /* Adjust the font size as needed */
  padding: 5px 10px;
  color: white; /* Set default color to white */
}

.pagination li.active a {
  font-weight: bold;
  background-color: #f0f0f0; /* Set selected background color to lighter gray */
  color: #b9b6b6; /* Set selected text color to darker gray */
}

.pagination li:not(.active) a:hover {
  background-color: #CCCCCC; /* Set hover background color to lighter gray */
  color: #a5a3a3; /* Set hover text color to darker gray */
}

</style>
<!-- topbar -->
<div class="container-fluid" style="background-color: rgb(255, 255, 255); height: 100px;">
  <div class="row mt-1">
      <h3 class="content-title card-title mt-3" style="color: #00000098; text-align: center;">MANAGE PRODUCTS</h3>
      <p style="color: rgba(0, 0, 0, 0.493); text-align: center;">( EFFICIENTLY ORCHESTRATING PRODUCTS FOR SUCCESS )</p>
      <hr>
  </div>
</div>
  <!-- /topbar -->
<section>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="table-responsive">
          <!-- Pagination links -->
          <table class="table table-hover mt-4">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Images</th>
                <th scope="col">Status</th>
                <th scope="col" class="text-center" colspan="3">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% viewProduct.forEach(function(viewProducts,index){ %>
                <tr>
                  <td><%= index+1  %></td>    
                  <td><%= viewProducts.productName %></td>
                  <td><%= viewProducts.category %></td>
                  <td><%= viewProducts.description %></td>
                  <td><%= viewProducts.price %></td>
                  <td>
                    <div class="d-flex justify-content-center align-items-center  rounded" style="width: 50px; height: 50px; overflow: hidden;">
                      <img src="/uploads/products/<%= viewProducts.image[1]%>" class="img-fluid " alt="Product image">
                    </div>
                  </td>
                  <td>
                    <% if (viewProducts.block == true) { %>
                    <p style="color: red;">Inactive</p>
                    <% }else { %>
                      <p style="color: green;">Active</p>
                    <% }  %>
                  </td>
                  <td class="text-center">
                    <a href="/admin/edit_product/<%= viewProducts._id %>"style="background-color: rgba(253, 253, 253, 0.712);" class="btn btn-xs btn-success"><p style="color: green;">Edit</p></a>   
                    <button style="background-color: rgba(253, 253, 253, 0.712);" class="btn btn-xs btn-danger" onclick="deleteAlertModal('<%= viewProducts._id %>')"><p style="color: red;">Delete</p></button>
                    <% if (viewProducts.block == true) { %>
                      <button style="background-color: rgba(253, 253, 253, 0.712);" class="btn btn-xs btn-danger" onclick="activeAlert('<%= viewProducts._id %>')"><p style="color: lawngreen;">Active</p></button>
                    <% }else { %>
                      <button style="background-color: rgba(253, 253, 253, 0.712);" class="btn btn-xs btn-danger" onclick="inactiveAlert('<%= viewProducts._id %>')"><p style="color: orange;">Inactive</p></button>
                    <% }  %>   
                  </td>
                </tr>
              <% })%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="pagination-container mt-2 mb-2">
    <ul class="pagination">
      <% if (currentPage > 1) { %>
        <li class="page-item">
          <a class="page-link" href="?page=<%= currentPage - 1 %>">&laquo; Previous</a>
        </li>
      <% } %>
    
      <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <% if (currentPage === i) { %> active <% } %>">
          <a class="page-link" href="?page=<%= i %>"><%= i %></a>
        </li>
      <% } %>
    
      <% if (currentPage < totalPages) { %>
        <li class="page-item">
          <a class="page-link" href="?page=<%= currentPage + 1 %>">Next &raquo;</a>
        </li>
      <% } %>
    </ul>
  </div>
</section>
   
<!--  Delete Alert Modal -->
<div id="deleteAlertModal" class="alert-modal">
  <!-- Modal content -->
  <div class="alert-modal-content">
      <h3 class="text-center" style="color: red;">Warning!</h3>
      <h4 class="text-center" style="color: #7c7c7c;">Are you sure you want to proceed?</h4>

      <!-- Buttons -->
      <div class="alert-modal-buttons">
          <button class="btn" onclick="submitAlert()"><img src="/admin_assets/assets/imgs/buttons/check.png" alt="submit"></button>
          <button class="btn" onclick="closeAlertModal()"><img src="/admin_assets/assets/imgs/buttons/delete.png" alt="cancel"></button>
      </div>
  </div>
</div>

<!--  Active Alert Modal -->
<div id="activeAlertModal" class="alert-modal">
  <!-- Modal content -->
  <div class="alert-modal-content">
      <h3 class="text-center" style="color: red;">Warning!</h3>
      <h4 class="text-center" style="color: #7c7c7c;">Are you sure you want to proceed?</h4>

      <!-- Buttons -->
      <div class="alert-modal-buttons">
          <button class="btn" onclick="activeSubmitAlert()"><img src="/admin_assets/assets/imgs/buttons/check.png" alt="submit"></button>
          <button class="btn" onclick="activeCloseAlert()"><img src="/admin_assets/assets/imgs/buttons/delete.png" alt="cancel"></button>
      </div>
  </div>
</div>
<!--  Inactive Alert Modal -->
<div id="inactiveAlertModal" class="alert-modal">
  <!-- Modal content -->
  <div class="alert-modal-content">
      <h3 class="text-center" style="color: red;">Warning!</h3>
      <h4 class="text-center" style="color: #7c7c7c;">Are you sure you want to proceed?</h4>

      <!-- Buttons -->
      <div class="alert-modal-buttons">
          <button class="btn" onclick="inactiveSubmitAlert()"><img src="/admin_assets/assets/imgs/buttons/check.png" alt="submit"></button>
          <button class="btn" onclick="inactiveCloseAlert()"><img src="/admin_assets/assets/imgs/buttons/delete.png" alt="cancel"></button>
      </div>
  </div>
</div>
  <!-- Modal message -->
  <div id="messageAlertModal" class="message-modal">
    <div class="message-modal-content mb-0">
      <h6 id="activeAlertMessage" class="text-center blink" style="color: rgb(253, 69, 69);text-transform: uppercase;"></h6>
    </div>
  </div>

<script>
  const alertModal = document.getElementById('deleteAlertModal');
  var messageModal = document.getElementById('messageAlertModal');// message modal
  var activeAlertMessage = document.getElementById('activeAlertMessage'); // message content
  let addressId;
  function deleteAlertModal(id) {
    addressId = id;
    alertModal.style.display = 'block';
  }
  function closeAlertModal() {
      alertModal.style.display = 'none';
  }
  function submitAlert() {
      closeAlertModal();
      $.ajax({
    url: '/admin/delete_product/'+addressId,
    type: 'GET',
    success: function(response) {
      var message = response.message
      if (message) {
      activeAlertMessage.textContent = message;
      messageModal.style.display = 'block';

      // Remove the modal after 2 seconds
      setTimeout(function() {
        messageCloseAlert();
        location.reload();
      }, 2100);
    }
    },
  });
  }
</script>
<!-- ative alert modal -->
<script>
  const activeAlertModal = document.getElementById('activeAlertModal');
    var messageModal = document.getElementById('messageAlertModal');// message modal
    var activeAlertMessage = document.getElementById('activeAlertMessage'); // message content
  let activeAddressId;
  function messageCloseAlert() {
      messageModal.style.display = 'none';
    }
  function activeAlert(id) {
    activeAddressId = id;
    activeAlertModal.style.display = 'block';
  }
  function activeCloseAlert() {
    activeAlertModal.style.display = 'none';
  }
  function activeSubmitAlert() {
    activeCloseAlert();
      $.ajax({
    url: '/admin/soft_undelete/'+activeAddressId,
    type: 'GET',
    success: function(response) {
      var message = response.message
      if (message) {
      activeAlertMessage.textContent = message;
      messageModal.style.display = 'block';

      // Remove the modal after 2 seconds
      setTimeout(function() {
        messageCloseAlert();
        location.reload();
      }, 2100);
    }
    },
  });
  }
</script>
<!-- inative alert modal -->
<script>
  const inactiveAlertModal = document.getElementById('inactiveAlertModal');
  var messageModal = document.getElementById('messageAlertModal');// message modal
  var activeAlertMessage = document.getElementById('activeAlertMessage'); // message content
  let inactiveAddressId;
  function inactiveAlert(id) {
    inactiveAddressId = id;
    inactiveAlertModal.style.display = 'block';
  }
  function inactiveCloseAlert() {
    inactiveAlertModal.style.display = 'none';
  }
  function inactiveSubmitAlert() {
    inactiveCloseAlert();
      $.ajax({
    url: '/admin/soft_delete/'+inactiveAddressId,
    type: 'GET',
    success: function(response) {
      var message = response.message
      if (message) {
      activeAlertMessage.textContent = message;
      messageModal.style.display = 'block';

      // Remove the modal after 2 seconds
      setTimeout(function() {
        messageCloseAlert();
        location.reload();
      }, 2100);
    }
    },
  });
  }
</script>
<%-include('../partials/admin_footer')%>