<%-include('../partials/admin_header')%>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
        integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Sales Report</h2>
            </div>
            <div>
                <a id="xlsheet" onclick="ExportToExcel()" class="btn btn-light rounded font-md">Download XLSheet</a>
                <a href="#" id="pdf" data-value="" class="btn btn-light rounded font-md">Download PDF</a>
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <form id="date-wise-report">
                    <div class="row gx-3">
                        <div class="col-lg-2 col-6 col-md-3">
                            <label class="form-label">Start Date</label>
                            <input type="date" name="startDate" value="" class="form-control" required>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <label class="form-label">End Date</label>
                            <input type="date" name="endDate" value="" class="form-control" required>
                        </div>
                        <div class="col-lg-4 col-md-6 me-auto">
                            <button type="submit" class="btn mt-4">Get Report</button>
                        </div>
                    </div>
                </form>
            </header>
            <!-- card-header end// -->
            <div id="sales-report" class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="sales-table">

                        <thead>
                            <tr>
                                <th>No</th>
                                <th scope="col">Order Id</th>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Payment Method</th>
                                <th scope="col">Order Status</th>
                                <th scope="col">Total Amount</th>
                            </tr>
                        </thead>
                        <tbody id="defaultReport">

                            <% for(let i=0; i < sales.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= i+1 %>
                                    </td>
                                    <td><b>
                                            <%= sales[i]._id %>
                                        </b></td>
                                    <td>
                                        <%= sales[i].userDetails[0].name %>
                                    </td>
                                    <td>
                                        <%= sales[i].ddate %>
                                    </td>
                                    <td>
                                        <%= sales[i].paymentmode %>
                                    </td>
                                    <td style="color: red;">
                                        <%= sales[i].orderstatus %>
                                    </td>
                                    <td>
                                        Rs: <%= sales[i].total %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
                <!-- table-responsive //end -->
            </div>
            <!-- card-body end// -->
        </div>
        <!-- card end// -->
    </section>
    <!-- content-main end// -->

    <script>
        $('#date-wise-report').on('submit', function (e) {
            e.preventDefault();
            console.log("clicked");
            var startDate = $('[name="startDate"]').val();
            var endDate = $('[name="endDate"]').val();

            $.ajax({
                url: '/admin/sales-report',
                type: 'post',
                data: $('#date-wise-report').serialize()
            }).done((res) => {
                let sales = res.sales;
                console.log('---------------------sales report-------------------');
                console.log(sales);
                $('#defaultReport').remove();
                $('#sales-table').append('<tbody id="date-wise-report"></tbody>');

                for (let i = 0; i < sales.length; i++) {

                    $('#sales-table').append(`
                <tr>
                    <td>${i + 1}</td>
                    <td><b>${sales[i]._id}</b></td>
                    <td>${sales[i].userid.name}</td>
                  
                    <td >${sales[i].ddate}</td>
                    <td >${sales[i].paymentmode}</td>
                    <td ><span class="badge rounded-pill alert-warning">${sales[i].orderstatus}</span></td>
                    <td >${sales[i].total}</td>
                </tr>
            `);
                }
            });
        });

        $('#pdf').on('click', function (e) {
            e.preventDefault();
            console.log("pdf");
            let element = document.getElementById('sales-report');
            const startDate = $('[name="startDate"]').val();
            const endDate = $('[name="endDate"]').val();
            const filename = `sales-report_${startDate}_to_${endDate}.pdf`;
            console.log(filename);

            var opt = {
                margin: 0,
                filename: `sales-report_${startDate}_to_${endDate}.pdf`,
                html2canvas: { scale: 10 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };

            html2pdf().set(opt).from(element).save();
        });



        function ExportToExcel() {
            var startDate = document.getElementById('startDate');
            var endDate = document.getElementById('endDate');
            var elt = document.getElementById('sales-table');
            var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });

            // Adjust column widths
            var ws = wb.Sheets['sheet1'];
            var columnWidths = [
                { wch: 5 },   // Width for column "No"
                { wch: 15 },  // Width for column "Order Id"
                { wch: 20 },  // Width for column "Customer"
                { wch: 15 },  // Width for column "Order Date"
                { wch: 20 },  // Width for column "Payment Method"
                { wch: 15 },  // Width for column "Order Status"
                { wch: 15 }   // Width for column "Total Amount"
            ];

            // Set column widths
            columnWidths.forEach(function (width, index) {
                var col = XLSX.utils.encode_col(index);
                ws['!cols'] = ws['!cols'] || [];
                ws['!cols'][index] = width;
            });


            var headers = [
                'No',
                'Order Id',
                'Customer Name',
                'Order Date',
                'Payment Method',
                'Order Status',
                'Total Amount'
            ];

            var range = XLSX.utils.decode_range(ws['!ref']);
            for (var C = range.s.c; C <= range.e.c; ++C) {
                var cell_address = { c: C, r: 0 };
                var cell_ref = XLSX.utils.encode_cell(cell_address);
                if (!ws[cell_ref]) continue;
                ws[cell_ref].v = headers[C];  // Assign the header for each column
            }

            XLSX.writeFile(wb, `sales-table_${startDate}_to_${endDate}.xlsx`);

        }

        $(document).ready(function () {
            $('#xlsheet').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/admin/sales-report-excel',
                    method: 'post',
                    data: {}
                }).done((res) => {
                    console.log(res);
                    // Handle the response as required
                }).catch((error) => {
                    console.error(error);
                });
            });
        });


    </script>

<%-include('../partials/admin_footer')%>