<%-include('../partials/user_header')%>
<style>
  .custom-select {
  /* Set desired width */
  width: 200px;
  /* Customize background color */
  background-color: #f2f2f2;
  /* Customize font */
  font-family: Arial, sans-serif;
  font-size: 14px;
  /* Add padding */
  padding: 8px;
  /* Add border */
  border: 1px solid #ccc;
  /* Add border radius */
  border-radius: 4px;
}

.custom-select:focus {
  /* Add box shadow when focused */
  box-shadow: 0 0 4px #aaa;
}

/* Style the dropdown arrow */
.custom-select::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #555;
}

/* Style the options */
.custom-select option {
  /* Customize background color */
  background-color: #fff;
  /* Customize font */
  font-family: Arial, sans-serif;
  font-size: 14px;
}

</style>
<style>
  .table-image td,
  .table-image th {
    vertical-align: middle;
  }
  /* Define the animation */
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  /* Apply the animation to the element */
  .animation {
    animation: fadeInOut 1s infinite;
  }
  button {
    position: relative;
    overflow: hidden;
  }

  button b {
    position: relative;
    z-index: 1;
  }

  button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    pointer-events: none;
  }

  button:hover::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
  }

  .bg-hover-gray:hover {
  background-color: gray;
}
</style>

<main class="wrapper">
  <% if (cartCount > 0) { %>
  <section class="hero blog-hero">
    <div class="container-fluid" style="background-color: rgba(236, 236, 236, 0.404);">
      <div class="row">
        <div class="col-12 d-grid justify-content-center  mb-30 animation">
          <img
            src="images/user/buttons/cart-icon.png"
            alt="Image"
            class="img-fluid"
          />
        </div>
        <h2 style="color: rgba(0, 0, 0, 0.575);">SHOPPING CART</h2>
      </div>
    </div>
  </section>
  <!-- hero ./ -->
  <% } else { %>
  <section class="hero blog-hero mt-2">
    <div class="container-fluid" style="background-color: rgba(236, 236, 236, 0.404);">
      <div class="row">
        <h2 style="color: rgba(0, 0, 0, 0.575);">EMPTY CART !</h2>
      </div>
      <div class="col-12 d-grid justify-content-center mt-15 mb-30 animation">
        <img
          src="images/user/buttons/cart-icon.png"
          alt="Image"
          class="img-fluid"
        />
      </div>
      <a href="/products">
        <button
          style="
            background-color: rgba(0, 0, 0, 0.692);
            transition: background-color 0.3s;
            opacity: 1;
          "
          type="button"
          class="btn btn-primary"
        >
          <b style="opacity: 70%;color: #ffff;">CONTINUE SHOPPING</b>
        </button>
      </a>
    </div>
  </section>
  <% } %> 
  <% if (cartCount > 0) { %>

  <div class="container col-md-12">
    <div class="row">
      <table class="table table-image table-striped">
        <thead class="font-weight-bold">
          <tr class="align-items-center">
            <td>Item</td>
            <td>Product Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Remove</td>
          </tr>
        </thead>
        <tbody>

          <% products?.forEach(function(viewProducts){ %>
            
            <%console.log(viewProducts)%>
          <tr>
            <td>
              <img
                class="rounded"
                style="height: 100px; width: 100px"
                src="/uploads/products/<%= viewProducts.image[0]%>"
                alt="Product image"
              />
            </td>
            <td><%= viewProducts.productName %></td>
            <td><%= viewProducts.description %></td>
            <td><%= viewProducts.price %></td>
            <td class="action">
              <a href="/deleteCartItem/<%= viewProducts._id %>">
                <button class="btn btn-light align-items-center bg-hover-gray">
                  <i class="uil uil-times-circle"></i>
                </button>                
              </a>
            </td>
          </tr>
          <% })%>
        </tbody>
      </table>
    </div>
  </div>

  <section class="cart-add">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-lg-5 subtotal m-3">
          <h3>Apply Coupon</h3>
            <div>
              <form id="couponForm" method="post">
                <input type="text" class="col-lg-12 search" placeholder="Apply coupon . . ." name="coupon" id="text-input">
                <div class="mt-4">
                  <h6>SELECT COUPON TO APPLY</h6>
                  <select class="custom-select mt-4" onchange="updateTextInput(this.value)">
                    <option value="">All</option>
                    <% coupon.forEach(coupon => { %>
                    <option value="<%= coupon.name %>"><%= coupon.name %></option>
                    <% }) %>
                  </select>
                  <div class="mt-4">
                    <button type="submit" class="btn-normal col-lg-12">Apply</button>
                  </div>
                </div>
              </form>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 subtotal m-3">
          <h3>Cart Total</h3>
          <table class="table table-borderless">
            <tr>
              <td>Cart Subtotal</td>
              <td>Rs : <%= total %></td>
            </tr>
            <tr>
              <td>Shipping</td>
              <td>Free</td>
            </tr>
            <tr>
              <td><strong>Total</strong></td>
              <td id="text-input-total"><strong>Rs : <%= total %></strong></td>
            </tr>
          </table>
          <a id="checkout-link" href="/place_order/0">
            <button class="btn-normal col-lg-12">Proceed to Checkout</button>
          </a>
        </div>
      </div>
    </div>
  </section>
  <% } %>
</main>
<!-- main-body-end ./ -->
<script>
  function updateTextInput(value) {
    document.getElementById("text-input").value = value;
  }
</script>
<script>
  $(document).ready(function() {
    $('#couponForm').submit(function(event) {
      event.preventDefault(); // Prevent default form submission
      var totalElement = document.getElementById("text-input-total");
      var totalText = totalElement.textContent.trim();
      var total = parseInt(totalText.match(/\d+/)[0]);
      var formData = $(this).serialize(); // Serialize form data

      // Send an AJAX POST request
      $.ajax({
        type: 'POST',
        url: '/apply-coupon', // Replace with your server endpoint
        data: formData,
        success: function(response) {
          // Handle the response from the server
          var couponName = response.name;
          let minimumAmount = response.amount;
          let expiryDate = response.expiry;
          let discount = response.discount;
          console.log(couponName, minimumAmount, expiryDate, discount, '------------heheheheheheeh');
          if (total > minimumAmount) {
            var discountPrice = (total * discount) / 100;
            var totalPrice = total - discountPrice;
            console.log("coupon applied sucessfully", totalPrice);
            // Replace the EJS value with the custom totalPrice
            var ejsValue = '<%= total %>';
            totalElement.innerHTML = totalElement.innerHTML.replace(ejsValue, totalPrice);

            var couponCode = couponName;
            var checkoutLink = document.getElementById("checkout-link");
            // Update the href attribute with the coupon code
            checkoutLink.href = "/place_order/" + discountPrice;
          } else {
            console.log("sorry coupon not applicable");
          }
        },
        error: function(error) {
          // Handle errors
          console.error(error);
        }
      });
    });
  });
</script>

<%-include('../partials/user_footer')%>
