<%-include('../partials/user_header')%>
<style>
    .big-product {
  position: relative;
  overflow: hidden;
}

.pro-img {
  transition: transform 0.3s;
}

.pro-img:hover {
  transform: scale(1.2); /* Increase the scale factor as per your requirement */
}

</style>
                  <!-- topbar -->
                  <div class="container-fluid" style="background-color: rgb(255, 255, 255); height: 100px;">
                    <div class="row mt-1 mb-2 ">
                        <h3 class="content-title card-title mt-3" style="color: #00000098; text-align: center;">SHOP NOW</h3>
                        <p style="color: rgba(0, 0, 0, 0.493); text-align: center;">( Discover a world of endless possibilities and shop now for the latest trends, exclusive deals, and must-have items that will elevate your style and enhance your life. )</p>
                    </div>
                  </div>
<main class="wrapper">
    <section class="product-details">
        <div class="container-fluid">
            <div class="row gap-5">
                <div style="margin-left: 20px;" class="col-md-6 col-lg-6 mx-auto single-product-img">
                    <div class="big-product">
                        <img id="big-image" style="border-radius: 20%;" src="/uploads/products/<%= data.image[0] %>" class="pro-img img-fluid " alt="Protrait" />
                    </div>
                    <div style="align-items: center;" class="img-gr d-flex">
                        <div class="col-md-6" style="margin-left: 40px;">
                            <img style="border-radius: 20%;" src="/uploads/products/<%= data.image[0] %>" class="img-lg" alt="Protrait" onclick="changeBigImage(this.src)" />
                        </div>
                        <div class="col-md-6">
                            <img style="border-radius: 20%;" src="/uploads/products/<%= data.image[1] %>" class="img-lg" alt="Protrait" onclick="changeBigImage(this.src)" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-5 mx-auto single-details">
                    <h3> TITLE : <%= data.productName %></h3>
                    <h4> PRICE : RS .<%= data.price %>.00</h4>
                    <a href="/cart/<%= data._id %>"><button 
                        style="height: 100px; width: 100px; align-items: center; border-radius: 20%; margin-bottom: 10px;"
                        >
                        <div class="justify-content-center"></div>
                        <img
                        src="/images/user/buttons/cart-icon.png"
                        alt="Image"
                        class="img-fluid "
                        /> Add to Cart
                    </button></a>
                    <span>
                        <h6 class="mb-1">Category Name</h6>
                        <h3 class="mb-2" style="color: black;"><%= data.category %></h3>
                        <h6 class="mb-1">Product Details</h6>
                        <h3 class="mb-3" style="color: black;"><%= data.description %></h3>
                        <p  style="color: black;"> This captivating piece is designed to add a touch of elegance and charm to any space.  With its intricate details and impeccable craftsmanship, it is a true work of art that will instantly elevate the ambiance of your home or office. Not only does it capture the essence of timeless beauty,  but it also serves as a daily reminder of the importance of self-expression and individuality. <br> Whether you're a passionate art collector or simply looking to enhance your living space, this product is a must-have for anyone with an appreciation for exquisite aesthetics. Don't miss the opportunity to make a statement with this extraordinary portrait <br> it's time to indulge in a masterpiece that will inspire you every day.  Place your order now and experience the joy of owning a piece that truly speaks to your soul.</p>
                    </span>
                </div>
            </div>
        </div>
    </section>    
</main>
<script>
    function changeBigImage(src) {
        var bigImage = document.getElementById("big-image");
        bigImage.src = src;
    }
</script>
<%-include('../partials/user_footer')%>