<%-include('../partials/user_header')%>

<style>
  /* Style the referal modal */
  .message-modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.363);
}

.message-modal-content {
background-color: #fefefe;
margin: 10% auto;
padding: 20px;
border: 10px solid #888;
border-radius: 250px;
width: 20%;
height: 100px;
}

  /* Style the close button */
  .alert-close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
  }

  .alert-close:hover,
  .alert-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>
<!-- alert modal -->
<style>
  .alert-modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.63);
  }
  
  .alert-modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 20px solid #c4c4c4d2;
      border-radius:80px;
      width: 40%;
  }
  
  .alert-modal-buttons {
      text-align: center;
      margin-top: 20px;
  }
</style>
<style>
    /* CSS for the modal */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }
  
    .modal-content {
      background-color: #fefefe;
      margin: 10% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 600px;
    }
  
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }
  
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  
    /* Additional styling */
    .form-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  </style>
<style>
    .dashboard-menu {
        border: 1px solid #cccccc00;
        border-radius: 5px;
        padding: 10px;
    }

    .dashboard-menu ul.nav {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .dashboard-menu ul.nav li.nav-item {
        border-bottom: 1px solid #ccc;
    }

    .dashboard-menu ul.nav li.nav-item:last-child {
        border-bottom: none;
    }

    .dashboard-menu ul.nav li.nav-item a.nav-link {
        display: block;
        padding: 10px;
        color: #333;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .dashboard-menu ul.nav li.nav-item a.nav-link:hover {
        background-color: #f2f2f2;
    }
</style>
    <main class="main">
        <section class="pt-2 pb-150">
            <div class="container">
                  <!-- topbar -->
<div class="container-fluid" style="background-color: rgb(255, 255, 255); height: 100px;">
  <div class="row mt-1 mb-2 ">
      <h3 class="content-title card-title mt-3" style="color: #00000098; text-align: center;">DASHBOARD</h3>
      <p style="color: rgba(0, 0, 0, 0.493); text-align: center;">( WELCOME TO YOUR PERSONAL DASHBOARD ! )</p>
  </div>
</div>
  <!-- /topbar -->
                <div class="row">
                    <div class="col-lg-12 m-auto mt-2">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist" style="background-color: #ffffffa6;">
                                        <li class="nav-item mb-3">
                                            <a class="nav-link active btn" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>PROFILE</a>
                                        </li>
                                        <li class="nav-item mb-3">
                                            <a class="nav-link btn" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>MY ADDRESS</a>
                                        </li>
                                        <li class="nav-item mb-3">
                                            <a class="nav-link btn" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>ORDERS</a>
                                        </li>
                                        <li class="nav-item mb-3">
                                          <a class="nav-link btn" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>WALLET</a>
                                        </li>
                                        <li class="nav-item mb-3">
                                          <a class="nav-link btn" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>REFFER</a>
                                        </li>
                                        <li class="nav-item mb-3">
                                          <a class="nav-link btn" href="page-login-register.html"><i class="fi-rs-sign-out mr-10"></i>CONTACT US</a>
                                      </li>
                                      <li class="nav-item mb-3">
                                        <a class="nav-link btn" href="/logout"><i class="fi-rs-sign-out mr-10"></i>LOGOUT</a>
                                    </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-9">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0 text-uppercase"> hello ... <%= user.name %> </h5>
                                            </div>
                                            <div class="card-body">
                                                <h6>From your account dashboard. you can easily check &amp; view your <b>recent orders</b> ,<br> manage your <b>shipping addresses</b> and edit your <b>password</b> and <b>account details </b>.</h6>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Details</h5>
                                            </div>
                                            <div class="card-body">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label>Name <span class="required"></span></label>
                                                            <input required="" class="form-control square" name="name" value="<%= user.name %>" type="text"disabled>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Mobile Number <span class="required"></span></label>
                                                            <input required="" class="form-control square" name="Phone" value="<%= user.phone %>" type="number"disabled>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Email Address <span class="required"></span></label>
                                                            <input required="" class="form-control square" name="email" value="<%= user.email %>" type="email"disabled>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <button id="editProfileButton" onclick="openModalProfile()" class="btn btn-fill-out col-md-12 mb-2 mt-2">EDIT ACCOUNT DETAILS</button>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <button id="editPasswordButton" onclick="openModalPassword()"  class="btn btn-fill-out col-md-12 mb-2 mt-2">CHANGE PASSWORD</button>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                      <div class="card">
                                          <div class="card-header">
                                              <h5>REFFER AND EARN POINTS</h5>
                                          </div>
                                          <div class="card-body">
                                            <div id="referral-code">
                                              <p>YOUR REFFERAL CODE: <span id="code"><%= user.referal %></span></p>
                                              <button style="width: 180px;" class="btn" onclick="messageAlertModal()"><h6>COPY</h6></button>
                                            </div>
                                            <div class="mt-4">
                                              <h6>Hey there! We have an awesome Referral Program that lets you earn rewards. Here's how it works:</h6>
                                              <hr>
                                              <ol>
                                                <li>
                                                  <p>Get your unique referral code.</p>
                                                </li>
                                                <li>
                                                  <p>Share it with your friends and family.</p>
                                                </li>
                                                <li>
                                                  <p>For each person who signs up using your code, you'll get 10 WalletPoints, and they'll receive 5 WalletPoints as a welcome gift.</p>
                                                </li>
                                                <li>
                                                  <p>Accumulate WalletPoints and convert them into real money.</p>
                                                </li>
                                                <li>
                                                  <p>Use the money to shop for cool portraits in our shop.</p>
                                                </li>
                                              </ol>
                                              <hr>
                                              <h6>It's that easy! The more referrals you make, the more WalletPoints you earn, and the more portraits you can collect.</h6>
                                              <br>
                                              <h6>Start referring today and enjoy the benefits of our Referral Program. If you have any questions, our support team is here to assist you.</h6>
                                            </div>
                                            
                                          </div>
                                      </div>
                                  </div>
                                  <!-- modal -->
                                    
                                    <div id="alertModal" class="message-modal">
                                        <div class="message-modal-content">
                                            <p style="text-align: center;" id="modal-message"></p>
                                            <p style="text-align: center;"><span class="alert-close pt-1" onclick="messageCloseModal()">&times;</span></p>                                          </p>
                                        </div>
                                    </div>
                                  <!-- end modal -->
                                    <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                      <div class="card">
                                          <div class="card-header">
                                              <h5 class="mb-0">WALLET</h5>
                                          </div>
                                          <div class="card-body contact-from-area">
                                            <h6>YOUR WALLET POINTS : <span id="code"><%= user.walletpoint %></span></h6>
                                            <br>
                                            <h6>YOUR WALLET AMOUNT : RS  <span id="code"><%= user. wallet %></span></h6>
                                          </div>
                                          <hr>
                                          <div>
                                            <p>Discover the power of unlocking your wallet points and turning them into wallet cash </p>
                                            <p>Use the money to shop for cool portraits in our shop.</p>
                                            <p>Experience the convenience of converting up to 100 wallet points into real cash.</p>
                                          </div>
                                          <hr>
                                          <div>
                                            <form action="/convert-points" method="post">
                                              <label for="inputField">YOUR WALLET POINTS:</label>
                                              <input type="text" id="inputField" value="<%= user.walletpoint %>" name="inputField" disabled>
                                              
                                              <input type="submit" value="convert">
                                              <br>
                                              <br>
                                            </form>
                                          </div>
                                      </div>
                                  </div>
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Your Orders</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                  <table class="table">
                                                      <thead>
                                                          <tr>
                                                              <th>Order</th>
                                                              <th>Date</th>
                                                              <th>Payment Mode</th>
                                                              <th>Total</th>
                                                              <th>Status</th>
                                                              <th>Actions</th>
                                                          </tr>
                                                      </thead>
                                                      <tbody>
                                                          <% orders.forEach((data,index) => { %>
                                                              
                                                              <tr>
                                                                  <td><%= index+1 %></td>
                                                                  <td><%= data.date.toLocaleDateString() %></td>
                                                                  <td><%= data.paymentmode %></td>
                                                                  <td><%= data.total %></td>
                                                                  <td><%= data.orderstatus %></td>
                                                                  <td><a href="/order_status/<%= data._id %>" class="btn-small d-block btn">View</a></td>
                                                              </tr>
                                                          <% }) %>
                                                      </tbody>
                                                  </table>
                                              </div>
                                            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                        <div class="row">
                                            <h6 class=" text-center"><strong>YOU CAN ADD DELETE OR REMOVE ADDRESSES</strong</h6>
                                                <hr>
                                                <div class="col text-right">
                                                    <button id="addAddressButton" onclick="openModal()" class="btn btn-fill-out col-md-12 mb-4"><h6 style="opacity: 60%;">ADD NEW ADDRESS</h6></button>
                                                </div>
                                        </div>
                                        <div class="row">

                                            <% address.forEach(element => { %>
                                                <div class="col-lg-6 mb-2">
                                                    <div class="card mb-3 mb-lg-0">
                                                        <div class="m-3">
                                                        <p><strong>Name:</strong> <%= element.name %></p>
                                                        <p><strong>Address:</strong> <%= element.address %></p>
                                                        <p><strong>City:</strong> <%= element.city %></p>
                                                        <p><strong>State:</strong> <%= element.state %></p>
                                                        <p><strong>Zipcode:</strong> <%= element.zipcode %></p>
                                                        <p><strong>Phone:</strong> <%= element.phone %></p>
                                                        <p><strong>Email:</strong> <%= element.email %></p>
                                                        </div>
                                                        <div class="row">
                                                          <button style="width: 380px;" class="btn btn-fill-out mt-1 mb-3 m-4 " onclick="openAlertModal('<%= element._id %>')"><h6 style="color: red;"> REMOVE ADDRESS</h6></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            <% }) %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- The Modal -->
<div id="addressModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <h4 class="text-center">ADD ADDRESS</h4>
      <hr>
      <form method="post" action="/user/address">
          <div class="form-group ">
            <input type="text" required="" name="name" placeholder="Full name *" class="form-control">
          </div>
        <hr>
        <div class="form-group">
          <input type="text" name="address" required="" placeholder="Address *" class="form-control">
        </div>
        <div class="form-group">
          <input required="" type="text" name="city" placeholder="City / Town *" class="form-control">
        </div>
        <div class="form-group">
          <input required="" type="text" name="state" placeholder="State / County *" class="form-control">
        </div>
        <div class="form-group">
          <input required="" type="text" name="zipcode" placeholder="Postcode / ZIP *" class="form-control">
        </div>
        <hr>
        <div class="form-group">
          <input required="" type="text" name="phone" placeholder="Phone *" class="form-control">
        </div>
        <div class="form-group">
          <input required="" type="email" name="email" placeholder="Email address *" class="form-control">
        </div>
        <hr>
        <button type="submit" class="btn btn-fill-out col-md-12">Submit</button>
      </form>
    </div>
    <hr>
  </div>

      <!-- The Modal Profile Edit-->
<div id="profileModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" onclick="closeModalProfile()">&times;</span>
      <h4 class="text-center">EDIT PROFILE</h4>
      <hr>
      <form method="post" action="/edit_profile/<%= user._id %>">
          <div class="form-group ">
            <input type="text" required="" name="name" value="<%= user.name %>" placeholder="Full name *" class="form-control">
          </div>
        <hr>
        <div class="form-group">
          <input type="text" name="email" required="" value="<%= user.email %>" placeholder="Email Address *" class="form-control">
        </div>
        <hr>
        <div class="form-group">
          <input required="" type="text" name="phone" value="<%= user.phone %>" placeholder="Phone *" class="form-control">
        </div>
        <hr>
        <button type="submit" class="btn btn-fill-out col-md-12">Submit</button>
      </form>
    </div>
    <hr>
  </div>

      <!-- The Modal Password Edit-->
      <div id="passwordModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" onclick="closeModalPassword()">&times;</span>
          <h4 class="text-center">CREATE NEW PASSWORD</h4>
          <hr>
          <form method="post" action="/edit_password/<%= user._id %>">
            <div class="text-center" id="password-strength-indicator"></div>

            <div class="form-group">
              <input type="password" id="password" name="password" required="" placeholder="Enter new password*" class="form-control">
            </div>                  
            <hr>
            <div class="form-group">
              <input type="password" id="confirmPassword" required="" placeholder="Confirm password*" class="form-control">
            </div>
            <hr>
            <button type="submit" class="btn btn-fill-out col-md-12">Submit</button>
          </form>
        </div>
        <hr>
      </div>
    
<!-- Alert Modal -->
<div id="alertModal" class="alert-modal">
  <!-- Modal content -->
  <div class="alert-modal-content">
      <h3 class="text-center" style="color: red;">Warning!</h3>
      <h4 class="text-center" style="color: #7c7c7c;">Are you sure you want to proceed?</h4>

      <!-- Buttons -->
      <div class="alert-modal-buttons">
          <button class="btn" onclick="submitAlert()"><img src="images/user/buttons/check.png" alt="submit"></button>
          <button class="btn" onclick="closeAlertModal()"><img src="images/user/buttons/delete.png" alt="submit"></button>
      </div>
  </div>
</div>

<script>
  const alertModal = document.getElementById('alertModal');
  let addressId;
  function openAlertModal(id) {
    addressId = id;
    alertModal.style.display = 'block';
  }
  function closeAlertModal() {
      alertModal.style.display = 'none';
  }
  function submitAlert() {
      closeAlertModal();
      $.ajax({
    url: '/delete_address/'+addressId,
    type: 'GET',
    success: function(response) {
      location.reload();
    },
  });
  }
</script>


  <script>
    var modal = document.getElementById("addressModal");

    // Function to open the modal
    function openModal() {
      modal.style.display = "block";
    }

    // Function to close the modal
    function closeModal() {
      modal.style.display = "none";
    }

  </script>
  <script>
    var modal1 = document.getElementById("profileModal");

    // Function to open the modal
    function openModalProfile() {
      modal1.style.display = "block";
    }

    // Function to close the modal
    function closeModalProfile() {
      modal1.style.display = "none";
    }

  </script>
    <script>
        var modal2 = document.getElementById("passwordModal");
    
        // Function to open the modal
        function openModalPassword() {
          modal2.style.display = "block";
        }
    
        // Function to close the modal
        function closeModalPassword() {
          modal2.style.display = "none";
        }
    
      </script>
<!-- password -->
<script>
  $(document).ready(function() {
    $('#password').on('input', function() {
      validatePassword();
    });

    $('#confirmPassword').on('input', function() {
      validatePassword();
    });
  });

  function validatePassword() {
    var password = $('#password').val();
    var confirmPassword = $('#confirmPassword').val();

    if (password !== confirmPassword) {
      // Passwords do not match
      $('#password').css('border-color', 'red');
      $('#confirmPassword').css('border-color', 'red');
    } else {
      // Passwords match
      $('#password').css('border-color', '');
      $('#confirmPassword').css('border-color', '');

      // Check password strength using your preferred method/library
      var passwordStrength = calculatePasswordStrength(password);

      // Display password strength indicator
      displayPasswordStrength(passwordStrength);
    }
  }

  function calculatePasswordStrength(password) {
    // Implement your own logic to calculate password strength
    // You can use regular expressions, libraries, or your own algorithm

    // Example: Simple length-based strength calculation
    var lengthStrength = password.length / 10; // Assume maximum length is 10 characters
    return Math.floor(lengthStrength * 100);
  }

  function displayPasswordStrength(strength) {
    // Display the password strength indicator based on the strength value
    // Customize this function according to your UI requirements
    var indicatorElement = $('#password-strength-indicator');

    if (strength >= 70) {
      indicatorElement.text('STRONG');
      indicatorElement.css('color', 'green');
    } else if (strength >= 40) {
      indicatorElement.text('MODERATE');
      indicatorElement.css('color', 'orange');
    } else {
      indicatorElement.text('WEAK');
      indicatorElement.css('color', 'red');
    }
  }
</script>
<!-- referal alert -->
<script>
  function messageAlertModal() {
    var codeElement = document.getElementById("code");
    var code = codeElement.innerText;
    var modalMessage = document.getElementById("modal-message");
    
    // Create a temporary input element
    var tempInput = document.createElement("input");
    tempInput.value = code;
    document.body.appendChild(tempInput);
    
    // Select the code and copy it
    tempInput.select();
    document.execCommand("copy");
    
    // Remove the temporary input element
    document.body.removeChild(tempInput);
    
    // Show the modal with the message
    modalMessage.innerText = "Referral code copied: " + code;
    document.getElementById("alertModal").style.display = "block";
  }

  function messageCloseModal() {
    document.getElementById("alertModal").style.display = "none";
  }
</script>


<%-include('../partials/user_footer')%>
